numpy==1.25.0 
accelerate==0.19.0
huggingface-hub==0.15.1
openai==0.27.8
pandas==2.0.2 
scipy==1.11.1
torch==2.0.1
tqdm==4.65.0 
transformers==4.30.0 
bitsandbytes==0.40.1.post1
curl_cffi==0.5.7
backoff==2.2.1
google-generativeai
python-dotenv